body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px 5px rgba(183, 177, 177,0.15);
}
.alcher-webops{
    flex:1 fr;
    font-weight: 600;
}
.search-bar{
    flex: 1 ;
    display: flex;
    justify-content: center;
}
.search-button{
    padding: 10px;
    padding-left: 15px;
    width: 240px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(190, 181, 181,0.7);
    border-radius:3px;
}

.nav-menu{
    flex:1 fr;
    display: flex;
    gap: 20px;
    color: rgb(80, 77, 77);
    font-weight:495;
}

.home{
    flex: 1 fr;
}
.about{
    flex: 1 fr;
}
.contact{
    flex: 1 fr;

}
.lorem-banner{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.lorem-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
   font-size: 18px;

}
.lorem-head-black{
    text-align: right;
    margin: 0;
    margin-left: 140px;
}
.lorem-head-blue{
    text-align: left;
    color: rgb(31, 96, 237);
    margin: 0;
    margin-right: 140px;
}
.lorem-para{
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: center;
    color: grey;
}
.buttons{
    justify-content: center;
    display: flex;
    gap: 6px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 30px;
}
.button-1,.button-2{
    height: 40px;
    padding: 5px;
    width: 110px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
}
.button-1{
    background-color: rgb(31, 96, 237);
    color: white;
}
.button-2{
    background-color: white;
    padding-top: 4.4px;
    padding-bottom: 3px;
    color: rgb(31, 96, 237);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    border-width: 0.6px;
    border-color: rgba(0, 0, 0, 0.10);
    border-style: solid;
}
.button-1:hover {
    background-color: white;
        padding-top: 4.4px;
        padding-bottom: 3px;
        color:rgb(31, 96, 237);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
        border-width: 0.6px;
        border-color: rgba(0, 0, 0, 0.10);
        border-style: solid;
}
.button-2:hover {
    background-color: rgb(31, 96, 237);
    color: white;
}

.frames-img{
    margin: 10px;
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    vertical-align: top;
    gap: 75px;
}
.formatting{
    flex: 1;
    font-size: 0.9em;
}
.iframes{
    flex: 1;
}
.iframes-title,.formatting-title,.formatting-title,.table-title{
    margin: 0;
}
.image{
    flex: 1;
}

.footer {
    position: relative;
    bottom: -26.7px;
    padding-bottom: 3px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.highres{
    margin-top: 18px;
    width: 300px;
    border-radius: 5px;
}
.alcher-website{
    width: 300px;
    border-color: rgb(215, 204, 204);
    border-width: 2px;
    border-style: inset;
}
.italic,.highlighted,.subscript-superscript,.quotation,.delete{
    margin: 0;
    margin-bottom: 5px;
}

.italic{
    font-style: italic;
}
table,th,td{
    border: 1px solid rgba(169, 161, 161,0.6); 
    border-collapse:collapse;
}
th{
    padding: 8px;
}
td{
    padding: 8px;
}